<!DOCTYPE html>
<html>
  <head>
    <title>Restaurante</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  </head>

  <body>
    <%-body%>
    <script src="/dist/bundle.js"></script>
  </body>
</html>
